:root{
    --scrimbaBackgroundColor: whitesmoke;
    --scrimbaFontColor: #2B2839; 
    --scrimbaYellow: #FFCC00;
    
    --font: 'Karla', sans-serif;
}

body{
    background: rgb(241,222,208);
    background: linear-gradient(72deg, rgba(241,222,208,1) 5%, rgba(214,205,192,1) 23%, rgba(221,234,225,1) 53%, rgba(254,232,204,1) 71%, rgba(241,222,208,1) 90%);
}

.content-items {
    display: flex;
    align-items: center;
}

.header {  
    position: absolute;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    
    background-color: var(--scrimbaBackgroundColor);
    top: 0;
    left: 0;
    width: 100%;
    height: 37px;
}

#scrimba-logo {
    width: 100px;
    float: left;
    cursor: pointer;
    margin: 1vmin;
}

#logo{
    width: 30px;
    cursor: pointer;
    margin-right: 5vmin;
}

a {
    font-family: var(--font);
    color: var(--scrimbaFontColor);
    font-size: 16px;
    padding: 8px;
}

button {
    border-radius: 20px;
    border: none;
    font-family: var(--font);
    font-weight: 400;
    padding: 5px; 
}

button:hover{
    cursor: pointer;
}

#resume-course-button{
    background-color: var(--scrimbaYellow);
}

.content-center{
    position: fixed;
    background-color: var(--scrimbaBackgroundColor);
    height: 80%;
    width: 80%;
    margin: 8%;
    overflow: auto;
}

.text-content {
    color: var(--scrimbaFontColor);
    font-family: var(--font);  
    letter-spacing: 2px;
    padding: 12px;
    text-align: center;
    white-space: pre-line;
    word-break: keep-all;  
}

.bloob{
    z-index: -1;
    height: 45%;
    position: absolute;

}

#bloob1, #bloob3{
    right: 0;
}

#bloob3, #bloob4{
    bottom: 0;
}
